@use "modules.scss";

.back {
  @include modules.flex(row, center, center);
  display: flex;
  box-shadow: 0 0 5px rgba($color: #000000, $alpha: 0.3);
  background-color: modules.$light-mode-elements;
  width: 125px;
  height: 35px;
  border: none;
  border-radius: 5px;
  margin: 80px;
  column-gap: 5px;
  transition: all 4ms ease-in;
  font-size: 15px;
  font-weight: 300;
  cursor: pointer;
  img {
    width: 20px;
  }
}
.dark-back {
  @extend .back;
  color: modules.$dark-mode-text;
  background-color: modules.$dark-mode-elements;
  box-shadow: 0 0 5px rgba($color: #000000, $alpha: 0.3);
  img {
    filter: invert(100);
  }
}
.back:hover {
  box-shadow: 0 0 5px rgba($color: #000000, $alpha: 0.5);
}
