@use "modules"; // Importing the "modules" partial

.header {
  @include modules.position(
    fixed,
    0,
    auto,
    0,
    0
  ); // Position the header fixed at the top
  @include modules.flex(
    row,
    space-between,
    center
  ); // Apply flexbox styles to header
  font-weight: 800; // Set font weight to 800
  font-size: 22px; // Set font size to 22px
  box-shadow: 0 0 4px rgba($color: #000000, $alpha: 0.3); // Add box shadow to the header
  padding: 0 35px; // Add padding to the header
  height: 65px; // Set height to 65px

  .darkmode-toggle {
    @include modules.flex(
      row,
      safe,
      center
    ); // Apply flexbox styles to the darkmode-toggle element
    column-gap: 10px; // Set column gap to 10px
    font-weight: 600; // Set font weight to 600
    font-size: 15px; // Set font size to 15px
    cursor: pointer; // Set cursor to pointer

    img {
      width: 17px; // Set width of the image to 17px
    }
  }
}

.header-darkMode {
  @extend .header; // Extend the styles from .header
  color: modules.$dark-mode-text; // Set the text color to the dark mode text color
  background-color: modules.$dark-mode-elements; // Set the background color to the dark mode elements color

  img {
    filter: invert(100%); // Apply invert filter to the image
  }
}
