@use "modules";

.header {
  @include modules.position(fixed, 0, auto, 0, 0);
  @include modules.flex(row, space-between, center);
  font-weight: 800;
  font-size: 22px;
  box-shadow: 0 0 4px rgba($color: #000000, $alpha: 0.3);
  padding: 0 35px;
  height: 65px;
  .darkmode-toggle {
    @include modules.flex(row, safe, center);
    column-gap: 10px;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
    img {
      width: 17px;
    }
  }
}
.header-darkMode {
  @extend .header;
  color: modules.$dark-mode-text;
  background-color: modules.$dark-mode-elements;
  img {
    filter: invert(100%);
  }
}
