$dark-mode-elements: hsl(209, 23%, 22%);
$dark-mode-background: hsl(207, 26%, 17%);
$dark-mode-text: hsl(0, 0%, 100%);
$dark-mode-input: hsl(0, 0%, 100%);
$light-mode-elements: hsl(0, 0%, 100%);
$light-mode-background: hsl(0, 0%, 98%);
$light-mode-text: hsl(200, 15%, 8%);
$light-mode-input: hsl(0, 0%, 52%);

@mixin fullSize {
  height: 100%;
  width: 100%;
}

@mixin elements-shadow {
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
}
@mixin white-image{
  filter: brightness(100) invert(1);
}