@use "../styles/general.scss";

.top {
  margin-top: 70px;
  padding: 50px 0;
}
.back-button {
  @include general.elements-shadow;
  background-color: general.$light-mode-elements;
  width: 90px;
  padding: 10px 25px;
  border-radius: 7%;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 12px;
  cursor: pointer;
  img {
    width: 20px;
  }
  p {
    margin: 0;
    font-weight: 300;
  }
}
.back-button:hover {
  filter: opacity(0.8);
}
.dark-back-button {
  @extend .back-button;
  background-color: general.$dark-mode-elements;
  img {
    filter: brightness(100) invert(1);
  }
}
.filter-section {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.search-bar {
  @include general.elements-shadow;
  color: general.$light-mode-input;
  display: flex;
  input {
    background-color: general.$light-mode-elements;
    border: none;
    border-radius: 20px;
    height: 40px;
    width: 350px;
  }
  img {
    width: 20px;
  }
}

.Region {
  width: 30px;
  height: 30px;
  background-color: aqua;
}
