// ! Important
// TODO: Make the component responsive

@use "../styles/general.scss";

// TODO make this component responsive . by flex display and stacking the search and region component on top of each other

// * General styles for the Top component

.top {
  margin-top: 70px;
  padding: 50px 0;
  margin-bottom: 25px;
}

.filter-section {
  display: flex;
  justify-content: space-between;
  align-items: start;

  @media (max-width: 700px) {
    flex-direction: column;
    row-gap: 40px;
  }
}
// * The styles for Back component

.back-button {
  @include general.elements-shadow;
  background-color: general.$light-mode-elements;
  width: 90px;
  padding: 10px 25px;
  border-radius: 7%;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 12px;
  cursor: pointer;
  img {
    width: 20px;
  }
  p {
    margin: 0;
    font-weight: 300;
  }
}
.back-button:hover {
  filter: opacity(0.8);
}
.dark-back-button {
  @extend .back-button;
  background-color: general.$dark-mode-elements;
  img {
    @include general.white-image;
  }
}

// *The styles for the Search component

.search-bar {
  @include general.elements-shadow;
  color: general.$light-mode-input;
  background-color: general.$light-mode-elements;
  display: flex;
  border-radius: 6px;
  .img-container {
    background-color: general.$light-mode-elements;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50px;
    img {
      margin-right: 10px;
    }
  }
  input {
    background-color: general.$light-mode-elements;
    border: none;
    height: 45px;
    width: 350px;
  }
  input:focus {
    outline: none;
  }
  img {
    width: 20px;
  }
}

.dark-search-bar {
  @extend .search-bar;
  color: general.$dark-mode-input;
  background-color: general.$dark-mode-elements;
  .img-container {
    background-color: general.$dark-mode-elements;
    img {
      filter: brightness(0) invert(1);
    }
  }
  input {
    background-color: general.$dark-mode-elements;
    color: general.$dark-mode-input;
  }
}

// *The styles for the Region component

.Region {
  @include general.elements-shadow;
  background-color: general.$light-mode-elements;
  color: general.$light-mode-text;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  height: 45px;
  width: 170px;
  flex-direction: column;
  border-radius: 5px;
  .region-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    width: 100%;
    height: 100%;
    font-weight: 300;
    p {
      margin: 0;
    }
    img {
      width: 16px;
    }
  }
  .region-list {
    background-color: general.$light-mode-elements;
    color: general.$light-mode-text;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    z-index: 100;
    top: 110%;
    width: 100%;
    row-gap: 10px;
    border-radius: 5px;
    .regions {
      padding: 10px 20px;
      display: grid;
      row-gap: 5px;
      p {
        margin: 0;
      }
      p:hover {
        opacity: 0.5;
        cursor: pointer;
      }
      #chosen-country {
        opacity: 0.3;
      }
    }
  }
}

.dark-Region {
  @extend .Region;
  background-color: general.$dark-mode-elements;
  color: general.$dark-mode-text;
  .region-button {
    img {
      @include general.white-image;
    }
  }
  .region-list {
    background-color: general.$dark-mode-elements;
    color: general.$dark-mode-text;
  }
}
